node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
videos/
../Resumes/.
./Webex.lnk
        ../WhatsApp Image 2026-02-13 at 6.57.47 PM.jpeg
        ../Where are my files.lnk
        ../desktop.ini
        ../infosys_tharun_application.png
        ../project/
        ../tcs links.txt